.bar-chart {
  color: white;

  rect {
    fill: steelblue;
  }

  text {
    fill: white;
  }

  .bar-chart__axis {
    path,
    line {
      fill: none;
      stroke: #000;
    }
  }
}

.bar-chart--div {
  background-color: green;
  border: 1px solid white;
  width: 0px;
  text-align: right;
}

.bar-chart--stack {
  rect {
    fill: unset;

    &:hover {
      stroke: blueviolet;
      stroke-width: 2;
    }
  }
}

.bar-chart--axis-with-lines {
  .axis {
    path,
    line {
      fill: none;
      stroke: gray;
    }
  }
}

.bar-chart--dynamic {
  .bar-chart__added {
    rect {
      fill: blueviolet;
    }
  }

  .bar-chart__updated {
    rect {
      fill: orange;
    }
  }
}

.bar-chart--full-width {
  width: 100%;
  height: 500px;

  .bar-chart__bar {
    stroke-width: 5px;
    stroke: goldenrod;
    fill: steelblue;
    transition: fill 1s;

    &:hover {
      fill: goldenrod;
    }
  }

  .bar-chart__text {
    transform: translate(5px, 20px);
  }
}
