.line-charts-container {
  .line-chart {
    path {
      fill: none;
      stroke: black;
    }
  }

  .area-chart {
    path {
      fill: cadetblue;
    }
  }

  .multiple-line-chart {
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;
    }
  }
}