.line-charts {
  &__base {
    path {
      fill: none;
      stroke: black;
    }
  }

  &__area {
    path {
      fill: cadetblue;
    }
  }

  &__multiple {
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;
    }
  }
}